@import "../default.styles.scss";

.wrapper {
    display: flex;
    flex-flow: column;

    mat-form-field {
        width: 30vw;
        
        mat-label {
            font-family: $font-family;
            font-size: 1.4vw;
            color: $white;
        }
    
        input {
            font-family: $font-family;
            font-size: 1.4vw;
            color: $white;
        }
    }

    button {
        color: $secondary;
        font-family: $font-family;
        font-size: 1.2vw;
        border-radius: 0;
        border: 1px solid $secondary;
        transition: all .6s ease;
    }
    
    button:hover {
        box-shadow: $box-shadow;
    }
}
