@import "/src/app/default.styles.scss";

.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $primary-color;

    h1 {
        @include default-heading-style();
        font-size: 4.6rem;
    }

    h2 {
        @include default-heading-style();
        font-size: 2rem;
        margin-bottom: 2rem;
        height: 26px;
    }

    .divider {
        margin: 0 auto 4rem auto;
        width: 10%;
        height: 4px;
        background-color: $secondary;
        border-radius: 30px;
    }

    .container-wrapper {
        .board {
            display: grid;
            background-color: $secondary;
            grid-template-columns: repeat(3, minmax(0, $tile-size));
            grid-gap: 2px;
            margin-bottom: 4rem;
            transition: all 1s ease;

            .tile {
                display: flex;
                justify-content: center;
                align-items: center;
                height: $tile-size;
                border-radius: 0;
                background-color: $primary-color;
                color: $white;
                text-shadow: $secondary 1px 0 10px;
                font-family: $font-family;
                font-weight: 800;
                font-size: $font-size;
                transition: all 0.4s ease;
            }

            .tile:hover {
                background-color: $primary-for-hover;
            }

            .winning-tiles,
            .winning-tiles:hover {
                transition: all 1s ease;
                background-color: $secondary;
            }
        }

        .restart-button,
        .change-names-button {
            width: 100%;
            border-radius: 0;
            border: 1px solid $secondary;
            color: $secondary;
            font-family: $font-family;
            font-size: 1.8rem;
            transition: all 0.6s ease;
        }

        .restart-button {
            border-bottom: none;
        }

        .change-names-button {
            border-top: none;
        }

        .restart-button:hover,
        .change-names-button:hover {
            box-shadow: $box-shadow;
        }

        .scale-0 {
            transform: scaleX(0);
        }

        .scale-100 {
            transform: scaleX(1);
        }
    }
}

@media only screen and (min-width: 800px), (min-height: 1000px) {
    .wrapper {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 2.6rem;
        }

        .container-wrapper {
            .board {
                grid-template-columns: repeat(3, minmax(0, 200px));

                .tile {
                    height: 200px;
                    font-size: 8rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px), (min-height: 600px)  {
    .wrapper {
        .container-wrapper {
            .board {
                grid-template-columns: repeat(3, minmax(0, 100px));

                .tile {
                    height: 100px;
                }
            }
        }
    }
}

// Tablets
@media only screen and (min-width: 1280px), (min-height: 800px) {
    .wrapper {
        .container-wrapper {
            .board {
                grid-template-columns: repeat(3, minmax(0, 160px));
    
                .tile {
                    height: 160px;
                }
            }
        }
    }
}

// Mobile Resolutions
@media only screen and (max-width: 600px) {
    .wrapper {
        .container-wrapper {
            .board {
                grid-template-columns: repeat(3, minmax(0, 100px));

                .tile {
                    height: 100px;
                }
            }
        }
    }
}

// Galaxy Fold
@media only screen and (max-width: 280px) {
    .wrapper {
        .container-wrapper {
            .board {
                grid-template-columns: repeat(3, minmax(0, 88px));

                .tile {
                    height: 88px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .wrapper {
        .container-wrapper {
            .board {
                grid-template-columns: repeat(3, minmax(0, $tile-size)); 

                .tile {
                    height: $tile-size;
                    font-size: $font-size;
                }
            }
        }
    }
}