
<div class="flex-container" *ngIf="gameIsStarted">
  
  <div class="playersbox">
    <span>1: {{player1Name}} <span *ngIf="player1IsWinner" style="color: darkgreen">Winner</span></span>
    <span>2: {{player2Name}} <span *ngIf="player2IsWinner" style="color: blue;">Winner</span></span>
  </div>

  <span *ngIf="gameHasEnded">
    <span class="player1winner" *ngIf="player1IsWinner">{{player1Name}} {{'wins the game, press restart button below to restart game' | titlecase}}</span>
    <span class="player2winner" *ngIf="player2IsWinner">{{player2Name}} {{'wins the game, press restart button below to restart game' | titlecase}}</span>
    <span class="nowinner" *ngIf="!player1IsWinner && !player2IsWinner">{{'game has ended in draw, press restart button below to restart game' | titlecase}}</span>
  </span>
  
  <div class="container">
    <div class="box" *ngFor="let item of gridArray" [ngStyle]="choiceList.indexOf(item) % 2 !== 1 ? shapeXColor : shapeOColor" (click)="handlePlayerChoice(item)">{{item.value}}</div>
  </div>

  <button *ngIf="gameHasEnded" (click)="restartGame('restart')">Restart</button>
  <button *ngIf="gameHasEnded" (click)="restartGame('changeNames')">Change Player Names</button>
</div>

<div class="startgamebox" *ngIf="!gameIsStarted">

  <div class="player1box">
    <label for="player1">Enter Name For Player 1</label>
    <input type="text" id="player1" [(ngModel)]="player1Name">
  </div>

  <div class="player2box">
      <label for="player2">Enter Name For Player 2</label>
      <input type="text" id="player2" [(ngModel)]="player2Name">
  </div>

  <button [disabled]="player1Name === '' || player2Name === '' || player1Name === player2Name" (click)="gameIsStarted = true">Start</button>
</div>