$px: 10vw;

@mixin WinnerSpan {
    font-family: cursive;
    font-weight: bolder;
    color: darkgreen;
    font-size: 1.6vw;
}

@mixin buttonStyle {
    font-family: cursive;
    color: darkgreen;
    font-weight: bolder;
    font-size: 1.6vw;
    letter-spacing: 1px;
    height: 2.5vw;
    border: none;
}

.flex-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .playersbox {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        top: 19.5%;
        left: 0%;
        width: fit-content;
        padding: 15px;
        background-color: #d1d1d1;
        font-family: cursive;
        font-size: 1.6vw;
        color: whitesmoke;
        z-index: 2
    }

    span {
        .player1winner {
            @include WinnerSpan();
            color: darkgreen;
        }

        .player2winner {
            @include WinnerSpan();
            color: blue;
        }

        .nowinner {
            @include WinnerSpan();
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, $px));
        margin-top: 10px;
        z-index: 100;

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: $px;
            height: $px;
            border: 1px solid rgb(190, 190, 190);
            font-size: 6vw;
            font-family: cursive;
        }
    }

    button {
        width: 31%;
        margin-top: 20px;
        @include buttonStyle();
        height: 6%;
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(219, 219, 219);
    }
}

.startgamebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: cursive;
    color: green;

    .player1box,
    .player2box {
        width: fit-content;
        margin-bottom: 20px;

        input {
            width: 170px;
            font-family: cursive;
            height: 20px;
            margin-left: 10px;
            border: 1px solid silver;
        }

        input:focus {
            outline: none;
        }
    }

    button {
        @include buttonStyle();
        width: 18%;
    }

    button:enabled:hover {
        cursor: pointer;
        background-color: rgb(219, 219, 219);
    }
}
